@using MvcBasic.Models;

@{
    ViewBag.Title = "PassViewBag";
}

<div class="jumbotron alert-success">
    <h2>以ViewBag傳遞資料</h2>
</div>


<ul>
    <li>Name : @ViewBag.Nickname</li>
    <li>Height : @ViewBag.Height</li>
    <li>Weight : @ViewBag.Weight</li>
    <li>Married : @ViewBag.Married</li>
</ul>

