@*@model List<string>*@

@{
    ViewBag.Title = "PetShop";
}

<h2>PetShop</h2>

公司名稱: @ViewData["Company"] <br />
公司地址: @ViewBag.Address <br />

販賣的寵物有:<br />
<ul>
    @foreach (var pet in Model)
    {
        <li>@pet</li>
    }

    @*@for(int i=0; i < Model.Count;i++)
    {
        <li>@Model[i]</li>
    }*@
</ul>

