@model Employee

@{
    ViewBag.Title = "Strongly Typed View";
}

<h2>Strongly Typed View</h2>

<ul>
    <li>@Model.ID</li>
    <li>@Model.Name</li>
    <li>@Model.Phone</li>
    <li>@Model.Email</li>
</ul>
