
@{
    ViewBag.Title = "Error Message";
}

<div class="jumbotron alert-success">
    <h2>以TempData跨Controller/Actions傳遞資料</h2>
</div>
<h2>訊息摘要 : </h2>
<ul>
    <li>使用者 : @TempData["UserName"]</li>
    <li>時  間 : @TempData["Time"]</li>
    <li>訊  息 : @TempData["ErrorMessage"]</li>
</ul>

